### 39가 홀수인지 짝수인지 어떻게 하면 알 수 있을까요?

### 13, 80, 37 의 평균을 프로그래밍 하시오.

### 1897이 7의 배수라는 걸 어떻게 알 수 있을까요?

```
a = “3”
b = “6”
print(a+b)  
```
다음 결과는

### 화면에 ‘=‘ 를 60개 출력 해보세요.

### date = “2021-01-01” 해당 데이터를 연/월/일로 분리

### str = “#c#a#r#e#e#r#l#y”#을 제거

### `l = [2,7,1,5,9,0]` 를 정렬

### 두 리스트를 합쳐서 0-9로 만들어 보세요.
```l1 = [2,7,1,5,9,0]
l2 = [3,4,6,8]```

```
job = { “위치” : “판교”, 
             “연봉” : “5000”, 
             “직종” : “개발직”} 
```
### job에서 연봉/위치/직종 정보를 출력해보세요.