### 39가 홀수인지 짝수인지 어떻게 하면 알 수 있을까요?

In [4]:
t = 39
# 홀수는 2로 나웠을 때 나머지가 1인 수이기 때문에
# 홀수라면 True, 짝수라면 False가 나온다.
print((t % 2) == 1)

True

In [5]:
# 일반화 하기
t = int(input("아무 숫자나 적어주세요 : "))
print((t % 2) == 1)

아무 숫자나 적어주세요 : 712784
False

### 13, 80, 37 의 평균을 프로그래밍 하시오.

In [6]:
# 평균은 합 / 갯수 이므로 쉽게 구현할 수 있다.
avg = (13+80+37)/3

### 만약에 좀더 숫자들이 많아지면 어떻게 될까?
`avg = (13+80+37+......... <- 계속 늘어난다.)/ (갯수)` 가 되서 그때 그때 바꿔줘야한다.

In [8]:
# 리스트를 이용하자!
# l에 어떤수가 계속 추가되도, 평균을 쉽게 구할 수 있다. 
l = [13,80,37, 81, 3, 45,133]

print(sum(l)/len(l))

56.0

### 1897이 7의 배수라는 걸 어떻게 알 수 있을까요?

In [9]:
# 배수의 정의는 완전히 나누어 떨어지는 수를 의미한다.
# 나머지 연산을 이용하자.

# 7로 나눠서 나머지가 0이면 배수다!

print(1897%7 == 0)

True

## 다음 결과는?
`a = “3”`

`b = “6”`

`print(a+b)  `

In [12]:
# 3+6 = 9??? 결과는 전혀 다르다.
a = "3"
b = "6"
print(a+b)

36

In [13]:
# 문자열 합에 속한다.
c = "h"
d = "i"
print(c+d)

hi

In [14]:
# 실제로 하려면 a,b를 숫자로 표현해야한다.
a = 3
b = 6
print(a+b)

9

### 화면에 ‘=‘ 를 60개 출력 해보세요.

In [15]:
# 문자열의 곱(*) 연산을 이용한다.
"=" * 60

'============================================================'

### date = “2021-01-01” 해당 데이터를 연/월/일로 분리

In [16]:
# 먼저 날짜를 선언
date = "2021-01-01"

# 날짜는 아래와 같이 다양한 방식으로 선언될 수 있지만, 
# 큰 특징은 연/월/일을 기준으로 나뉜다는것!
date1 = "2021/01/01"
date2 = "2021.01.01"

In [17]:
# split을 이용한다. (문자열을 특정 문자로 쪼개는함수)
date.split("-")

['2021', '01', '01']

In [18]:
# 쪼갠 결과값이 List이므로, [] 인덱싱을 이용해 각각 값을 가져오면된다.
year = date.split("-")[0]
month = date.split("-")[1]
day = date.split("-")[2]
print(year)
print(month)
print(day)

2021
01
01

### str = “#c#a#r#e#e#r#l#y”#을 제거

In [19]:
# replace로 빈문자로 치환이 가능하다.
s = "#c#a#r#e#e#r#l#y"
print(s.replace("#",""))

careerly

### `l = [2,7,1,5,9,0]` 를 정렬

In [20]:
l = [2,7,1,5,9,0]

In [22]:
# 정렬함수를 이용해 쉽게 해결
l.sort()
print(l)

[0, 1, 2, 5, 7, 9]

In [23]:
# 만약 역순 정렬이라면
l.reverse()
print(l)

[9, 7, 5, 2, 1, 0]

### 이 두개의 리스트를 합쳐서 하나의 정렬된 리스트인 [0,1,2,3,4,5,6,7,8,9]를 만들어보세요.
```l1 = [2,7,1,5,9,0]
l2 = [3,4,6,8]```

In [26]:
l1 = [2,7,1,5,9,0]
l2 = [3,4,6,8]
# 리스트의 합(+) 연산을 이용한다.
suml = l1+l2
# 그리고, 정렬한다. 
suml.sort()
print(suml)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### job에서 연봉/위치/직종 정보를 출력해보세요.
`job = { “위치” : “판교”,`

`             “연봉” : “5000”, `

`             “직종” : “개발직”} `

In [27]:
job = {"위치":"판교", "연봉":"5000", "직종":"개발직"}

In [28]:
print(job.keys())
print(job.values())

dict_keys(['위치', '연봉', '직종'])
dict_values(['판교', '5000', '개발직'])

In [29]:
## 쉽게 접근하면 된다.
print("위치 : " + job["위치"])
print("연봉 : " + job["연봉"])
print("직종 : " + job["직종"])

위치 : 판교
연봉 : 5000
직종 : 개발직