## 배울 함수
- print
- input 
- type

In [2]:
a = input("안녕:")

안녕:a

## 변수
변수는 모든 값을 저장할 수 있습니다.

`=` 을 이용해 할당합니다.

In [7]:
test = 1200

In [8]:
print(test)

1200

덮어쓰기가 가능합니다.

In [12]:
test = "Hello"

In [13]:
print(test)

Hello

함수도 호출 가능합니다.

In [11]:
name = "Publy Air"
print(name)
name2 = name.replace("Air", "On-Air")
print(name)
print(name2)

Publy Air
Publy Air
Publy On-Air

변수는 타입(type)을 가지며, `type` 을 통해 확인해볼 수 있습니다.

In [15]:
name = "이도행"
print(type(name))

pi = 3.1415
print(type(pi))

<class 'str'>
<class 'float'>

In [16]:
a = 3
b = 10
c = a+b
print(c)

13

In [17]:
c = a+b
a = 5
print(c) # ??

13

변수는 선언될 당시 계산되며, 그 후에 값을 바꾸면 다시 재연산을 해야합니다.

In [19]:
a = 3
b = "hello"
c = a+b
print(c)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

다른 타입의 변수는 이렇게 같이 연산할 수 없습니다.

In [1]:
a = 3
b = 10
c = a+b
b = "hello"

print(c)
print(b)

13
hello

정수형으로 쓴 변수를 문자형 변수로 바꾸는것도 얼마든지 가능합니다.